
<mat-card>
  <mat-toolbar color="primary">Cadastrar novo Curso</mat-toolbar>
    <mat-card-content>
      <form [formGroup]="form" class="min-width"> <!-- "form" -> Referência à variável em course-component.ts irá mapear os campos para os campos setados no construtor -->
        <mat-form-field class="full-width">
          <input matInput placeholder="Nome" formControlName="name">
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Category</mat-label>
          <mat-select formControlName="category">
            <mat-option>Clear</mat-option>
            <mat-option value="Backend">Backend</mat-option>
            <mat-option value="Frontend">Frontend</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()">SAVE</button>
    <button mat-raised-button color="accent" (click)="onCancel()">CANCEL</button>
  </mat-card-actions>

</mat-card>
