mat-card {
  max-width: 60%;
  margin: 2em auto;
  text-align: center;
}

form {
  padding-top: 15px;
}

mat-form-field {
  padding-right: 10px;

}

.full-width{
  width: 100%;
}

.min-width {
  width: 100%;
  min-width: 150px;
}

mat-card-actions button {
  margin: 5px;
}

mat-card-actions {
  text-align: center;
  justify-content: center;
}
